@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html, body {
    position:  fixed;
    margin: 0;
    padding: 0;
  }

canvas {
    display: block;
    position:fixed; 
    left:0; 
    top:0; 
    z-index:-1
}

#stemDef{
  position: absolute;
  z-index: 3;
  top: 60vh;
  left: 5vh;
  color: #cdffcd;
  font-family: 'Open Sans', sans-serif;
  width: 600px;
  font-size: 13px;
}

#large{
  font-size: 8vh;
  color: #39ac73;
  font-family: "swear-display", serif;
  font-weight: 800;
  font-style: normal;
}

#sourceImage{
  position: absolute;
  z-index: 3;
  top: 2vh;
  left: 5vh;
  color: white;
  font-family: 'Open Sans', sans-serif;
  width: 600px;
  font-size: 8px;
}


