@import url("https://use.typekit.net/bao5jex.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.flex-container{
  padding: 30px;
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: self-end;
/*   align-content: center; */
  justify-content: center;
  margin: 10px;
}

.flex-box{	
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: stretch;
  align-content: start;
  justify-content: start;
  margin: 10px;
  width: 45%;
/*   gap: 100px; */
}

h2{
  text-align: left;
  font-family: bd-supper, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #335e7d;
  padding-bottom: 10px;
}

h3{
  text-align: left;
  font-family: bd-supper, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #335e7d;
  padding-bottom: 10px;
}

p{
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #57762c;
  padding-left: 10px;
  padding-right: 10px;
}

#logo{
  height: 40px;
  padding-left: 20px;
  padding-top: 15px;
}

#scroll-container {
  border: 3px solid black;
  border-radius: 5px;
  overflow: hidden;
}

#scroll-text {
  text-align: right;
  font-size: 120px;
  
  font-family: bd-supper, sans-serif;
  font-style: normal;
  font-weight: 700;

  /* animation properties */
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  
  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(-100%); }
  to { -moz-transform: translateX(100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(-100%); }
  to { -webkit-transform: translateX(100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
