.flex-container{
  padding: 30px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: self-end;
/*   align-content: center; */
  justify-content: center;
  margin: 10px;
}

.flex-box{
  border-radius: 25px;
  background: #c9e9f0;
	
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: stretch;
  align-content: start;
  justify-content: start;
  margin: 10px;
  width: 45%;
  
/*   gap: 100px; */
}

h2{
  text-align: left;
  font-family: 'Gravitas One', sans-serif;
  color: #335e7d;
  padding-top: 50px;
  padding-bottom: 25px;
}

p{
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #57762c;
  padding-left: 10px;
  padding-right: 10px;
}
