body {
  background-color: #fff;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
  cursor: crosshair;
}

#gallery {
  height: 75vmax;
  width: 95vmax;
  position: relative;
}

.block {
  position: absolute;
  width: 150px;
  height: 200px;
  z-index: 1;
}

.block:hover {
  z-index: 2;
}

.block:nth-child(1) {
  top: 20%;
  left: 10%;
  background: url('img/graphic/poster.png') no-repeat 50% 50%;
  height: 300px;
  width: 200px;
  background-size: cover;
}