@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  min-height: 100%;
  background-color: #757C88;
}

.para{
  position: relative;
  width: 50%;
/*   overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.para: before{
  content: '';
  position: absolute;
  bottom: 0;
  width: 50%;
  z-index: 10000;
}

.para: after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  z-index: 10000;
}

.para img{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  object-fit: cover;
  pointer-events: none;
}

#text{
  position: relative;
  color: white;
  font-size: 8em;
  font-family: 'Playfair Display', serif;
  z-index: 1;
}

.head1{
  display: none;
  visibility: hidden;
  color: black;
}

.marquee {
 height: 120px;	
 overflow: hidden;
 position: relative;
 border: 5px solid black;
}
.marquee p {
 font-family: bd-supper, sans-serif;
 position: absolute;
 width: 100%;
 height: 100%;
 font-size: 64px;
 color: #B494B3;
 margin: 0;
 line-height: 100px;
 text-align: left;

 transform:translateX(100%);

 @keyframes scroll-right {
 0%   { 
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%); 
 }
}
