@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


*{
  margin: 0;
  padding: 0;
}

body{
  min-height: 100%;
  background-color: #757C88;
}

.para{
  position: relative;
  width: 50%;
/*   overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.para: before{
  content: '';
  position: absolute;
  bottom: 0;
  width: 50%;
  z-index: 10000;
}

.para: after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  z-index: 10000;
}

.para img{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  object-fit: cover;
  pointer-events: none;
}

#text{
  position: relative;
  color: white;
  font-size: 8em;
  font-family: 'Playfair Display', serif;
  z-index: 1;
}

h1{
  text-align: left;
  font-family: 'Playfair Display', serif;
  color: white;
  opacity: 60%;
}

h3{
  text-align: left;
  font-family: 'Rubik', sans-serif;
  padding: 10px;
  color: #1F51FF;
}

h4{
  text-align: right;
  font-family: 'Rubik', sans-serif;
  padding: 10px;
  color: #3F00FF;
}
h5{
  text-align: left;
  font-family: 'Rubik', sans-serif;
  padding: 10px;
  color: #1434A4;
}

h6{
  text-align: right;
  font-family: 'Rubik', sans-serif;
  padding: 10px;
  color: #00008B;
}

#hoverI{
  width: 100%;
}

.flex-box{
  border-radius: 25px;
  background: black;
	
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: stretch;
  align-content: start;
  justify-content: start;
  margin: 10px;
  width: 100%;
  
/*   gap: 100px; */
}

.item{
  padding: 20px;
  color: white;
}

.tt{
  text-align: left;
  width: 25%;
  position: relative;
  left: -80px;
}

.marquee {
 padding: 10px;
 width: 80%;
 height: 100px;	
 overflow: hidden;
 position: relative;
 border: 10px solid white;
 margin: auto;
}
.marquee p {
 font-family: 'Playfair Display', serif;
 position: absolute;
 height: 100%;
 width: 100%;
 font-size: 24px;
 color: white;
 margin: 0;
 line-height: 100px;
 text-align: left;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 -moz-animation: scroll-right 8s linear infinite;
 -webkit-animation: scroll-right 8s linear infinite;
 animation: scroll-right 8s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-right {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-right {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-right {
 0%   { 
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%); 
 }
}

#typewrite{
  overflow: hidden;
  margin: 0 auto;
  animation: 
  typing 5s steps(20, end),
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
