body {
  background-color: lightblue;
}

h1 {
	color: black;
	text-align: center;
	padding-left: 100px;
}

img{
	display: inline-block;
	width: 350px;
	height: 350px;
	height: auto;
}

p {
  font-family: verdana;
  font-size: 20px;
}
