body {
  background-color: lightblue;
}

h1 {
	color: black;
	text-align: center;
	padding-top: 50px;
  	padding-right: 30px;
	padding-bottom: 50px;
	padding-left: 80px;
}

img{
	display: inline-block;
}

p {
	font-family: verdana;
	font-size: 20px;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

#hoverI{
	opacity: 0;
}

#hoverI:hover{
	delay 100;
	opactiy: 1;
}
