p{
  text-align: center;
  font-family:'Montserrat', sans-serif;
  color: #2a3159;
}

#finalPos{
  width: 50%;
  height: 50%;
  padding: 40px;
}

.flex-container{
  padding: 30px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 10px;
}

.flex-box{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 10px;
  width: 300px;
  
/*   gap: 30px; */
}

.pItem{
  width: 550px;
}

.flex-intro{
  padding: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 10px;
/*   width: 550px; */
}

.item{
  padding: 20px;
}

.tt{
  width: 300px;
  text-align: left;
  padding: 50px;
}
