p{
  text-align: left;
  font-family:'Montserrat', sans-serif;
  color: #2a3159;
}

#finalPos{
  width: 50%;
  height: 50%;
  padding-right: 80px;
}

#finalPos2{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: none;
  visibility: hidden;
}

#gba{
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  display: none;
  visibility: hidden;
}

.flex-container{
  padding: 30px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: self-end;
/*   align-content: center; */
  justify-content: center;
  margin: 10px;
}

.flex-box{
  border-radius: 25px;
  background: #c9e9f0;
	
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: stretch;
  align-content: start;
  justify-content: start;
  margin: 10px;
  width: 45%;
  
/*   gap: 100px; */
}

.pItem{
  width: 550px;
  text-align: center;
}

.flex-intro{
  padding: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 10px;
/*   width: 550px; */
}

.item{
  padding: 20px;
}

.tt{
  text-align: left;
  width: 25%;
  position: relative;
  left: -80px;
}

@media only screen and (max-width: 700px) {
  .tt{
	  text-align: center;
	  width: 75%;
	  font-size: 23px;
	  margin: auto;
	  left: 0;
  }
  p{
	  font-size: 12px;
  }
  .pItem{
  	width: 350px;
	padding: 10px;
  }
  .item{
	  padding: 10px;
	  text-align: center;
  }
  .head1{
	  height: 20px;
  }
  #finalPos{
	display: none;
	visibility: hidden;
  }
  #finalPos2{
	display: block;
	visibility: visible;
  }
  .flex-box{
	display: none;
	visibility: hidden;
  }
}
