p{
  text-align: left;
  font-family:'Montserrat', sans-serif;
  color: #2a3159;
}

#finalPos{
  width: 50%;
  height: 50%;
  padding: 40px;
}

#finalPos2{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: none;
  visibility: hidden;
}

.flex-container{
  padding: 30px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: self-end;
/*   align-content: center; */
  justify-content: center;
  margin: 10px;
}

.flex-box{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: stretch;
  align-content: start;
  justify-content: start;
  margin: 10px;
  width: 35%;
  
/*   gap: 100px; */
}

.pItem{
  width: 550px;
  text-align: center;
}

.flex-intro{
  padding: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 10px;
/*   width: 550px; */
}

.item{
  padding: 20px;
}

.tt{
  text-align: left;
  width: 25%;
}

@media only screen and (max-width: 700px) {
  .tt{
	  text-align: center;
	  width: 75%;
	  font-size: 23px;
  }
  p{
	  font-size: 12px;
  }
  .flex-box{
	  width: 70%;
	  justify-content: space-between;
  }
  .flex-container{
	  align-items: self-start;
	  padding: 10px;
	  justify-content: space-between;
  }
  .pItem{
  	width: 350px;
	padding: 10px;
  }
  .item{
	  padding: 10px;
  }
  .head1{
	  height: 20px;
  }
  #finalPos{
	display: none;
	visibility: hidden;
  }
  #finalPos2{
	display: block;
	visibility: visible;
  }
}
