p{
  text-align: left;
  font-family:'Montserrat', sans-serif;
  color: #2a3159;
}

#finalPos{
  width: 50%;
  height: 50%;
  padding: 40px;
}

.flex-container{
  padding: 30px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: self-end;
/*   align-content: center; */
  justify-content: center;
  margin: 10px;
}

.flex-box{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: stretch;
  align-content: start;
  justify-content: start;
  margin: 10px;
  width: 35%;
  
/*   gap: 100px; */
}

.pItem{
  width: 550px;
  text-align: center;
}

.flex-intro{
  padding: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 10px;
/*   width: 550px; */
}

.item{
  padding: 20px;
}

.tt{
  text-align: left;
  width: 25%;
}
