p{
  text-align: center;
  font-family:'Montserrat', sans-serif;
  color: #2a3159;
}

#lineB{
  padding-top: 50px;
}

#finalPos{
  width: 50%;
  height: 50%;
}

.flex-container{
  padding: 30px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 10px;
}

.flex-box{
  padding: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 10px;
  width: 300px;
}

.pItem > .flex-box{
  width: 550px;
}

.item{
  padding: 20px;
}
