body{
  background: url(https://github.com/bingnaa/bingnaa.github.io/blob/main/portfolio/css/img/untitled%20copy%202.png?raw=true), 
    url(https://github.com/bingnaa/bingnaa.github.io/blob/main/portfolio/css/img/flowerback1.png?raw=true);
  background-size: 900px 900px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top 86px left -368px, top 86px right -368px;
}

/* #about{
  display: flex;
  justify-content: center;
  align-items: center;
} */
iframe{
  align: center;
  display: block
}

#caption{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 8px;
  color: #b494b3;
}

p{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #57762c;
}

h2{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #335e7d;
}
