body{
  background: url(https://github.com/bingnaa/bingnaa.github.io/blob/main/portfolio/css/img/untitled%20copy%202.png?raw=true), 
    url(https://github.com/bingnaa/bingnaa.github.io/blob/main/portfolio/css/img/flowerback1.png?raw=true);
  background-size: 900px 900px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top 86px left -368px, top 86px right -368px;
}

iframe{
  margin: auto;
  display: block;
}

#caption{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #b494b3;
}

p{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #57762c;
}

h2{
  text-align: center;
  font-family: 'Gravitas One', sans-serif;
  color: #335e7d;
  padding-top: 50px;
  padding-bottom: 25px;
}

footer{
  text-align: center;
}

/* h5{
  font-family: 'Montserrat', sans-serif;
  color: #335e7d;
  font-size: 20px;
} */

#contactMe{
  font-family: 'Gravitas One', sans-serif;
  color: #335e7d;
  font-size: 20px;
  align-self: flex-end;
}

.flex-foot{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 30px;
}
