body{
  background: url(https://github.com/bingnaa/bingnaa.github.io/blob/main/portfolio/css/img/untitled%20copy%202.png?raw=true), 
    url(https://github.com/bingnaa/bingnaa.github.io/blob/main/portfolio/css/img/flowerback1.png?raw=true);
  background-size: 900px 900px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top 86px left -368px, top 86px right -368px;
}

/* #about{
  display: flex;
  justify-content: center;
  align-items: center;
} */

div{
  display: flex;
  justify-content: center;
  align-items: center;
}
