*{
  margin: 0;
  padding: 0;
}

body{
  min-height: 100%;
}

.para{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.para: before{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  z-index: 10000;
}

.para: after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 10000;
}

.para img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

#text{
  position: relative;
  color: #B494B3;
  font-size: 8em;
  font-family: 'Gravitas One', sans-serif;
  z-index: 1;
}

.head1{
  display: none;
  visibility: hidden;
  color: #335e7d;
}

@media only screen and (max-width: 1000px) {
  .para{
	display: none;
	visibility: hidden;
  }
  .head1{
  	display: block;
	visibility: visible;
  }
  body{
	  background-image: none;
	  background: url(https://github.com/bingnaa/bingnaa.github.io/blob/main/portfolio/css/img/untitled%20copy%202.png?raw=true), 
    url(https://github.com/bingnaa/bingnaa.github.io/blob/main/portfolio/css/img/flowerback1.png?raw=true);
  	background-size: 300px 300px;
  	background-repeat: no-repeat;
  	background-attachment: scroll;
  	background-position: top -20px left 0px, top -20px right 0px;
  }
}

@media only screen and (max-width: 600px) {
  body{
	  background-image: none;
	  background: url(https://github.com/bingnaa/bingnaa.github.io/blob/main/portfolio/css/img/untitled%20copy%202.png?raw=true), 
    url(https://github.com/bingnaa/bingnaa.github.io/blob/main/portfolio/css/img/flowerback1.png?raw=true);
  	background-size: 200px 200px;
  	background-repeat: no-repeat;
  	background-attachment: scroll;
  	background-position: top -20px left 0px, top -20px right 0px;
  }
}

@media only screen and (max-width: 400px) {
  body{
	  background-image: none;
	  background: url(https://github.com/bingnaa/bingnaa.github.io/blob/main/portfolio/css/img/untitled%20copy%202.png?raw=true), 
    url(https://github.com/bingnaa/bingnaa.github.io/blob/main/portfolio/css/img/flowerback1.png?raw=true);
  	background-size: 100px 100px;
  	background-repeat: no-repeat;
  	background-attachment: scroll;
  	background-position: top -20px left 0px, top -20px right 0px;
  }
}
