/* #works li{
	list-style-image: url(https://github.com/bingnaa/bingnaa.github.io/blob/main/portfolio/img/bulletP.png?raw=true);
} */

.flex-container a{
 	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	font-weight: 500;
	line-height: 50px;
}

.flex-container {
  display: flex;
  padding: 50px;
}

.flex-container > div {
  width: 500px;
  margin: 10px;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.ani1{
  opacity: 0;
}

.ani2{
  transform: scaleX(-1);
  opacity: 0;
}

#caption{
  font-size: 15px;
  color: #000000;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#title{
  padding: 50px;
}

.flex-box{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 10px;
  width: 300px;
  
/*   gap: 30px; */
}
