/* #works li{
	list-style-image: url(https://github.com/bingnaa/bingnaa.github.io/blob/main/portfolio/img/bulletP.png?raw=true);
} */
.git{
	/* Created with https://www.css-gradient.com */
	background: conic-gradient(from 180deg, #99C9DB, #3661A0);
}

.ux{
	/* Created with https://www.css-gradient.com */
	background: conic-gradient(from 180deg, #2263C5, #6499C7);
}

.studentWork{
	/* Created with https://www.css-gradient.com */
	background: conic-gradient(from 180deg, #26418C, #81ADD3);
}


.flex-container a{
 	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	font-weight: 500;
	line-height: 50px;
}

.flex-container {
  display: flex;
  padding: 50px;
}

.flex-container > div {
  width: 500px;
  margin: 10px;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.ani1{
  opacity: 0;
}

.ani2{
  transform: scaleX(-1);
  opacity: 0;
}

#caption{
  font-size: 15px;
  color: #000000;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.tt{
  padding: 50px;
  margin: auto;
  text-align: center;
}

.flex-box{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 10px;
  width: 300px;
  
/*   gap: 30px; */
}

.proflower{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	transform: scaleX(-1);
	display: block;
}

@media only screen and (max-width: 1000px) {
	.ani1{
		display: none;
		visibility: hidden;
	}
	.ani2{
		display: none;
		visibility: hidden;
	}
}


@media only screen and (max-width: 600px) {
	.spwing{
		transform: scale(0.7);
	}
	.flex-container a{
		font-size: 30px;
	}
	.flex-container{
		padding: 20px;
	}
	.tt{
		font-size: 23px;
	}
	.proflower{
		width: 50%;
	}
}
