/* #works li{
	list-style-image: url(https://github.com/bingnaa/bingnaa.github.io/blob/main/portfolio/img/bulletP.png?raw=true);
} */

.flex-container a{
 	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	font-weight: 500;
	line-height: 50px;
}

.flex-container {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.flex-container > div {
  width: 500px;
  margin: 10px;
  text-align: center;
  align-items: center;
/*   font-size: 40px;
  font-weight: 500;
  line-height: 50px; */
}

.ani1{
  opacity: 0;
  width: 25%;
}

.ani2{
  transform: scaleX(-1);
  opacity: 0;
  width: 25%;
}
