img{
  height: 250px;
}
*{
  margin: 0;
  padding: 0;
}

body{
min-height: 1500px;
}

section{
  position: relative;
  width: 100%
  height: 500px; important!
/*   overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
}

section: before{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

section: after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

section img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
