#works li{
	list-style-image: url(https://github.com/bingnaa/bingnaa.github.io/blob/main/portfolio/img/bulletP.png?raw=true);
}

.wolink{
 	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	font-weight: 500;
	line-height: 50px;
	display: block;
	text-align: center;
}
