@import url('//fonts.cdnfonts.com/css/gravitas-one');

body{
  background: url(https://github.com/bingnaa/bingnaa.github.io/blob/main/portfolio/css/img/untitled%20copy%202.png?raw=true), 
    url(https://github.com/bingnaa/bingnaa.github.io/blob/main/portfolio/css/img/flowerback1.png?raw=true);
  background-size: 900px 900px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top 86px left -368px, top 86px right -368px;
}

.nav li{
   display:inline-block;
}

ul {
  list-style-type: none;
}

.nav {
    background:transparent;
}

#logo{
  width: 200px;
  height: 241px;
  top: -56px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1{
  width: 446px;
  height: 46px;
  
  font-family: 'Gravitas One', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: -0.015em;
  color: #B494B3;
}
