body {
  background-color: #fff;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
  cursor: crosshair;
}

#gallery {
  height: 75vmax;
  width: 95vmax;
  position: relative;
}

.block {
  position: absolute;
  width: 150px;
  height: 200px;
  z-index: 1;
}

.block:hover {
  z-index: 2;
}

.block:nth-child(1) {
  top: 0;
  left: 10%;
  background: url(img/graphic/finalposter.png) no-repeat 50% 50%;
  background-size: cover;
}