@import url('//fonts.cdnfonts.com/css/gravitas-one');
@import url('//fonts.cdnfonts.com/css/montserrat');

.navbar-nav{
	list-style-type: none;
}

.nav-item{
	padding-right: 56px;
	padding-left: 56px;
}

a{
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #B0C252;
	font-weight: 500;
	line-height: 18px;
}

#logo{
  width: 200px;
  height: 241px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -36px;
}

h1{
  width: 446px;
  height: 46px;
  
  font-family: 'Gravitas One', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: -0.015em;
  color: #B494B3;
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  top: -56px;
}

.container-fluid{
	display: flex;
	position: relative;
 	top: -70px;
}

body{ 
    opacity: 0;
    transition: opacity 1.5s;
    -webkit-transition: opacity 1.5s; /* Safari */
}

.splitting .char {
  animation: slide-in .7s cubic-bezier(.3, 0, .7, 1) both;
  animation-delay: calc(50ms * var(--char-index));
}

@keyframes slide-in {
  from {
    transform: scale(0.4) translateY(80%);
    opacity: 0;
  }
}

h1.splitting {
  color: saturate(lighten(#182952,55%),60%);
  .char {
    transition: transform .3s cubic-bezier(.3, 0, .3, 1), opacity .3s linear;
    transition-delay: calc( 20ms * var(--char-index) );

  }

  &[data-scroll="out"] .char {
    opacity: 0.1;
    transform: translateY( .25em );
  }
}
