@import url('//fonts.cdnfonts.com/css/gravitas-one');
@import url('//fonts.cdnfonts.com/css/montserrat');

body{
  background: url(https://github.com/bingnaa/bingnaa.github.io/blob/main/portfolio/css/img/untitled%20copy%202.png?raw=true), 
    url(https://github.com/bingnaa/bingnaa.github.io/blob/main/portfolio/css/img/flowerback1.png?raw=true);
  background-size: 900px 900px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top 86px left -368px, top 86px right -368px;
}

ul {
	list-style-type: none;
}

.nav-item{
	padding-right: 56px;
	padding-left: 56px;
	position: relative;
 	top: -76px;
}

a{
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #B0C252;
	font-weight: 500;
	line-height: 18px;
}

#logo{
  width: 200px;
  height: 241px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -36px;
}

h1{
  width: 446px;
  height: 46px;
  
  font-family: 'Gravitas One', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: -0.015em;
  color: #B494B3;
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  top: -56px;
}
