#logo{
  position: absolute;
  width: 200px;
  height: 241px;
  top: -56px;
  margin-left: auto;
  margin-right: auto;
}

h1{
  width: 446px;
  height: 46px;
  top: 160px;
  
  font-family: 'Gravitas One', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
  
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  color: #B494B3;
}

#flowersBack {
  background: url(untitled copy 2.png) left, url(Untitled-1 copy.png) right;
  background-size: 1000px 1000px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
