h2{
  position: relative;
  color: #B494B3;
  font-size: 5em;
  font-family: 'Gravitas One', sans-serif;
  text-align: center;
  
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

h3{
  font-family:'Montserrat', sans-serif;
  text-align: center;
  font-size: 15px;
  color: #B0C252;
  font-weight: 500;
  line-height: 18px;
}

section img{
  position: absolute;
  object-fit: cover;
}

#arrow{
  z-index: 1;
  padding-top: 10px;
  padding-left: 20px;
}

#flower{
  z-index: 10;
  padding-top: 5px;
  padding-left: 45px;
}
