h2{
  position: relative;
  color: #B494B3;
  font-size: 5em;
  font-family: 'Gravitas One', sans-serif;
  text-align: center;
  
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  
  margin: auto;
  
  padding: 20 px;
}

h3{
  font-family:'Montserrat', sans-serif;
  text-align: center;
  font-size: 15px;
  color: #B0C252;
  font-weight: 500;
  line-height: 18px;
  margin: auto;
  
  padding: 15 px;
}

h4{
  font-family:'Montserrat', sans-serif;
  text-align: center;
  font-size: 20px;
  color: #B0C252;
  font-weight: 500;
  line-height: 23px;
  margin: auto;
  
  padding: 15 px;
}

section img{
  position: absolute;
  object-fit: cover;
}

#arrow{
  z-index: 1;
  padding-top: 15px;
  padding-left: 20px;
  position: relative;
}

#flower{
  z-index: 10;
  top: 5px;
  left: 45px;
  display: block;
  position: absolute;
}

#arrow2{
  transform: scaleX(-1);
  position: relative;
  padding: 15px;
}

#qrCode{
  width: 35%;
}

p{
  text-align: center;
  font-family:'Montserrat', sans-serif;
  color: #2a3159;
}

#warning{
  font-size: 15px;
  color: #000000;
  text-align: center;
}

/* div{
  width: 450px;
} */

.flex-container{
  padding: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 10px;
}

.flex-box{
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.flex-box > div {
  margin: 10px;
}

#world1{
  width: 50%;
  height: 50%;
  background-color: black;
}

#birdidea{
  width: 45%;
}

#storyb{
  width: 45%;
}

#ogbox{
  width: 25%;
}

.item{
  width: 550px;
/*   text-align: center;
  justify-content: center; */
}

.rabb{
  width: 25%;
  height: 25%;
  padding: 20px;
}

a{
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #B0C252;
	font-weight: 500;
	line-height: 18px;
}
