h2{
  position: relative;
  color: #B494B3;
  font-size: 5em;
  font-family: 'Gravitas One', sans-serif;
  text-align: center;
  
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  
  margin: auto;
  
  padding: 20 px;
}

h3{
  font-family:'Montserrat', sans-serif;
  text-align: center;
  font-size: 15px;
  color: #B0C252;
  font-weight: 500;
  line-height: 18px;
  margin: auto;
  
  padding: 15 px;
}

h4{
  font-family:'Montserrat', sans-serif;
  text-align: center;
  font-size: 20px;
  color: #B0C252;
  font-weight: 500;
  line-height: 23px;
  margin: auto;
  
  padding: 15 px;
}

section img{
  position: absolute;
  object-fit: cover;
}

#arrow{
  z-index: 1;
  padding-top: 15px;
  padding-left: 20px;
  position: relative;
}

#flower{
  z-index: 10;
  top: 5px;
  left: 45px;
  display: block;
  position: absolute;
}

#qrCode{
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

p{
  text-align: center;
  font-family:'Montserrat', sans-serif;
  color: #2a3159;
}

#warning{
  font-size: 15px;
  color: #000000;
}

/* div{
  width: 450px;
} */

.flex-container{
  padding: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

/* .flex-container > div {
/*   width: 450px; */
} */

.flex-box{
  padding: 30px;
  display: flex;
  flex-direction: row;
}

.flex-box > div {
  margin: 10px;
}

.item{
  width: 450px;
/*   text-align: center;
  justify-content: center; */
}
