h2{
  position: relative;
  color: #B494B3;
  font-size: 5em;
  font-family: 'Gravitas One', sans-serif;
}

section img{
  position: absolute;
  object-fit: cover;
}

#arrow{
  padding-top: 10px;
  padding-left: 20px;
}

#flower{
  z-index: 1;
  padding-top: 10px;
  padding-left: 45px;
}
