html{
  width: 100%;
  height: 100%;
}

body{
  background-color: black;
}

.subheader__title{
  position: relative;
  font-family: 'Warming';
  font-weight: normal;
  font-style: normal;
  font-size: 50px;
  color: white;
}

.header__title{
  font-weight: 800;
  font-family: 'Warming ExtBd';
  font-weight: normal;
  font-style: normal;
  font-size: 100px;
  color: white;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header{
  background-image: linear-gradient(#EAFDFC 50%, black 50%);
}

.triangle {
  position: relative;
  width: 600px;
  height: 200px;
  margin: auto;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.triangle p {
  position: absolute;
  width: 400px;
  height: 100px;
  line-height: 200px;
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  transform-style: preserve-3d;

  font-family: 'Warming ExtBd';
  font-weight: bold;
  font-style: normal;
}

.triangle p:nth-child(1) {
  transform: rotateY(0deg) translateZ(300px);
}

.triangle p:nth-child(2) {
  transform: rotateY(120deg) translateZ(300px);
}

.triangle p:nth-child(3) {
  transform: rotateY(240deg) translateZ(300px);
}